<div class="container">
    <div class="panel login-panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title text-center">Chat App</h1>
            <h3 class="panel-title text-center">Please enter your username</h3>
        </div>
        <div class="panel-body">

            <div class="row mt-3">
                <div class="offset-md-4 col-md-4">
                    <input class="form-control " type="text" placeholder="Username" ng-model="$ctrl.username" ng-readonly="$ctrl.isJoined" ng-keydown="$ctrl.enter($event)">
                </div>
            </div>
            <span class="offset-md-4 col-md-4" style="color:red">{{$ctrl.usernameError}}</span>
            <div class="row mt-3">
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-block btn-primary" ng-click="$ctrl.checkUsername()">Join</button>
                </div>
            </div>
            <div class="row mt-1">
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-block btn-secondary" ng-click="$ctrl.checkUsername(true)">Join as guest</button>
                </div>
            </div>
        </div>
        </div>

</div>