<div class="container-fluid">
    <div class="header">
        <div class="row">
            <h3 class="col-md-11">Welcome, {{$ctrl.user.hasGravatar ? $ctrl.user.gravatar.displayName: $ctrl.user.username}}</h3>
            <a class="col-md-1" href="" ng-click="$ctrl.logout()">Logout</a>
        </div>
    </div>
    <user-list></user-list>
    <private-chat></private-chat>

</div>