<div class="people-list">
	<div class="search">
		<input type="text" placeholder="Search" />
		<i class="fa fa-search"></i>
	</div>
	<ul class="list">
		<li class="clearfix" ng-repeat="user in $ctrl.users">
			<a ng-click="$ctrl.openChat(user)">
				<div ng-if="user.hasGravatar">
					<img src="{{user.gravatar.thumbnailUrl}}">
					<div class="about">
						<div class="name">{{user.gravatar.displayName}}</div>
						<div class="status">
							{{user.newMessage}}
						</div>
					</div>
				</div>
				<div ng-if="!user.hasGravatar">
					<img src="/client/images/default-avatar.jpg">
					<div class="about">
						<div class="name">{{user.username}}</div>
						<div class="status">
							{{user.newMessage}}
						</div>
					</div>
				</div>
			</a>

		</li>


	</ul>
</div>