<div class="chat" ng-show="$ctrl.isShow">
	<div class="chat-header clearfix">
		<div class="chat-about">
			<div class="chat-with">Chat with {{$ctrl.toUser.hasGravatar ? $ctrl.toUser.gravatar.displayName: $ctrl.toUser.username}}</div>
			<!-- <div class="chat-num-messages">already 1 902 messages</div> -->
		</div>
		<i class="fa fa-star"></i>
	</div>
	<!-- end chat-header -->

	<div class="chat-history" scroll-glue>
		<ul>

			<li class="clearfix" ng-repeat="message in $ctrl.messages">

				<div ng-if="message.from.username === $ctrl.fromUser.username">
					<div class="message-data align-right">
						<span class="message-data-time">{{message.time | date : 'medium'}}</span> &nbsp; &nbsp;
						<span class="message-data-name">Me</span>
						<i class="fa fa-circle me"></i>

					</div>
					<div class="message other-message float-right">
						{{message.message}}
					</div>
				</div>
				<div ng-if="message.from.username !== $ctrl.fromUser.username">

					<div class="message-data">
						<span class="message-data-name">
							<i class="fa fa-circle online"></i> {{message.from.hasGravatar ? message.from.gravatar.displayName : message.from.username}}</span>
						<span class="message-data-time">{{message.time | date : 'medium'}}</span>
					</div>
					<div class="message my-message">
						{{message.message}}
					</div>

				</div>

			</li>




		</ul>
		<span ng-if="$ctrl.isTyping">{{$ctrl.toUser.hasGravatar ? $ctrl.toUser.gravatar.displayName: $ctrl.toUser.username}} is typing...</span>
	</div>
	<!-- end chat-history -->


	<div class="chat-message clearfix">
		<div class="row">
			<div class="col-md-11">
				<textarea name="message-to-send" id="message-to-send" autocomplete="off" ng-model="$ctrl.message" ng-keydown="$ctrl.enter($event, $ctrl.message)"
				 ng-keypress="$ctrl.typing()" placeholder="Type your message" rows="2"></textarea>
			</div>
			<div class="col-md-1">
				<button type="button" ng-click="$ctrl.send($ctrl.message)" class="ce">Send</button>
			</div>
		</div>


	</div>
	<!-- end chat-message -->

</div>
<!-- end chat -->